.column-profile{
    color: rgb(59, 59, 59);
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin-top: 5px;
    .cardProfile{
        position: relative;
        .imgProfile{
            width: 100%;
            height: 200px;
            object-fit: cover;
            overflow: hidden;
            display: block;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .profileEditBtn{
            display: block;
            width: 120px;
            outline: none;
            border: none;
            background-color: var(--primary-red);
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            z-index: 99;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .myGoal{
            display: block;
            font-size: .9em;
        }
    }
    .userGoal{
        height: 200px;
    }
}
.column-data{
    color: rgb(59, 59, 59);
    width: 100%;
    .blog-data{
        height: 200px;
        margin: 5px 0;
        .inside-block{
            padding: 10px;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 15px -8px rgba($color: #000000, $alpha: .3);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .title-data{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            [class*='result_']{
                text-align: center;
                .res{
                    display: block;
                    em{
                        font-size: 3em;
                        font-weight: 600;
                    }
                }
            }
            .result_Calories{
                select{
                    margin: 10px 0;
                    display: block;
                    font-size: 1em;
                }
            }
        }
    }
}