/* ---------------------BUTTON ACTIVITY CREATE PAGE START--------------------- */
.topnav{
    .nav-btn-check{
        border: none;
        outline: none;
        color: #fff;
        &:active{
            color: rgb(0, 255, 55);
        }
        &:focus{
            outline: none;
        }
    }
}
/* ----------------------BUTTON ACTIVITY CREATE PAGE END--------------------- */
$submitSearchBtnWH : 24px;
$paddingInputTopBottom : 10px;
$marginYForm : 10px;

#leftCol{
    margin-bottom: 30px;
    &::-webkit-scrollbar{
        display: none;
    }
    .ListsAllActivity{
        background-color: var(--primary-background-color);
        z-index: 9;
        padding: 5px 0;
        .form-search{
            margin: 10px 0;
            .input-search{
                width: 100%;
                padding: $paddingInputTopBottom 5px;
                position: relative;
                outline: none;
                border: none;
                border-radius: 5px;
            }
            .magnifyingBtn{
                position: absolute;
                top: calc(50% - (#{$submitSearchBtnWH}) / 2);
                right: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                .submit-search{
                    position: relative;
                    width: $submitSearchBtnWH;
                    height: $submitSearchBtnWH;
                    display: block;
                    opacity: 0;
                }
                .magnifying{
                    position: absolute;
                }
            }
        }
    }
}
#rightCol{
    &::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width: 576px){
    #leftCol{
        .activityItem{
            width: 100%;
            display: flex;
            align-items: center;
            .activityDetails{
                text-align: left;
                padding: 0 10px;
            }
        }
        .ListsAllActivity{
            .activityItem{
                display: flex;
                flex-direction: column;
                .activityDetails{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    #leftCol{
        // height: 800px;
        // overflow: scroll;
        .activityItem{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: 30px;
        }
        // .ListsAllActivity{
        //     position: sticky;
        //     top: 0;
        // }
    }
}
@media screen and (min-width: 992px){
    #leftCol{
        .activityItem{
            display: block;
            margin: 5px auto;
            .activityDetails{
                text-align: center;
                padding: 0 0;
                .activityName{
                    width: 100%;
                }
            }
        }
    }
}