.current_activity{
    // @media screen and (min-width: 768px){
    //     .cardAc{
    //         &:hover{
    //             transform: scale(1.1);
    //             opacity: 1;
    //             box-shadow: 0 0 10px -6px rgba(0, 0, 0, .8);
    //         }
    //     }    
    // }
    .container{
        height: 100%;
        .subHead{
            height: 30px;
            display: flex;
            align-items: center;
        }
        .cardAc{
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0;
            min-height: 400px;
            height: calc(100% - 20px);
            box-shadow: 0 0 10px -7px rgba(0, 0, 0, .4);
            // transition: ease .2s;
            position: relative;
            overflow: hidden;
            &:after{
                display: block;
                content: '';
                position: absolute;
                clear: both;
                width: 100%;
                height: 15px;
                background-color: var(--primary-red);
                left: 0;
                bottom: 0;
            }
            .acname{
                color: var(--primary-red);
            }
            &.withRest{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &.empty{
                    opacity: .5;
                    cursor: pointer;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            .settingInfo{
                width: 100%;
                margin: 0 auto;
                label{
                    font-size: .9em;
                    width: 75px;
                    margin-bottom: 0;
                    margin-right: 5px;
                    padding-bottom: 10px;
                }
                input{
                    height: 30px;
                    font-weight: 300;
                    color: #666;
                    font-size: .9em;
                    padding: 5px;
                    border: .2px solid #ddd;
                    width: calc(100% - 80px);
                    font-weight: 400;
                    color: var(--primary-red);
                    &:placeholder-shown{
                        font-weight: 300;
                    }
                }
            }
            .restCard{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                .restH6{
                    font-size: 3em;
                    color: var(--primary-text-color);
                    opacity: .4;
                }
                .plusBtn{
                    width: 40px;
                    margin: 0 auto;
                    font-size: 2em;
                    color: var(--primary-text-color);
                    cursor: pointer;
                }
                .plusBtn:hover{
                    color: var(--primary-red);
                }
                h6{
                    margin: 10px 0;
                }
            }
            .badgeType{
                width: 20px;
                opacity: .7;
                height: auto;
            }
            .card-top{
                color: rgb(146, 146, 146);
                height: 30px;
            }
            .card-bottom{
                height: 40px;
            }
            .slideBtn{
                color: rgb(146, 146, 146);
                width: calc(100% - 16px);
                border-top: 1px solid rgb(233, 233, 233);
                .left, .right{
                    cursor: pointer;
                    padding: 5px;
                }
            }
            .imageActivity{
                display: block;
                margin: 15px auto;
                width: 100px;
                &:not(.active){
                    opacity: .4;
                }
                &.active{
                    width: 90px;
                }
            }
            .button-handle-activity{
                display: flex;
                justify-content: space-around;
                align-items: center;
                [class*=btn-handle-]{
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    background-color: transparent;
                    color: var(--primary-text-color);
                }
                .btn-handle-save{
                    margin: 20px 0 30px 0;
                    height: 40px;
                    width: 80px;
                    width: 120px;
                    display: block;
                    background-color: hsl(120, 100%, 80%);
                    color: hsl(120, 100%, 40%);
                }
                .btn-handle-delete{
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    color: var(--primary-red);
                }
            }
        }
        .tutVid{
            margin: 10px 0;
            justify-content: center;
            align-items: center;
            background-color: rgb(32, 32, 32);
            border-radius: 10px;
            .tubeVid{
                width: 80%;
                height: 315px;
            }
        }
    }
}