.toTopBtn {
    position: fixed;
    bottom: 60px;
    right: 0;
    margin: 10px;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #c4c4c4;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    display: none;
}
.toTopBtn svg{
    height: 35px;
    width: 35px;
}